/Atmega/bin/
/Atmega/obj/

/Atmega.Asm/bin/
/Atmega.Asm/obj/

/Atmega.Asm.Tests/bin/
/Atmega.Asm.Tests/obj/

/packages/*/
/Atmega.v12.suo
/Atmega.sln.DotSettings.user
/Atmega.Asm/Atmega.Asm.csproj.user

/Atmega.Flasher/bin/
/Atmega.Flasher/obj/
/Atmega.Flasher/*.user
/Atmega.Flasher/Icons/Thumbs.db
